body {
    background-image: url("../images/nordwood-themes-ivP3TYdLvw0-unsplash.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-top: 1em;
    background-color: #a0583c;
}

main {
    margin-top: 5em
}

#coffees p {
    margin-top: 5px;
    margin-left: 5px;
    padding-top: 2px;
    /*align-self: flex-end;*/
}

#coffees {
    background-color: #d9bcac;
    padding: 1em 1em;
}

#coffeesContainer {
    margin-left: 5em;
}